:root {
    --gt-md-gold: #A4925A;
    --dark-red: #B1060E;
}

body {
    font-family: 'Work Sans', sans-serif;
    color: #4A4A4A;
}

h1 {
    color: var(--dark-red);
}

h3 {
    /* color: var(--gt-md-gold); */
    text-transform: uppercase;
    font-family: 'Montserrat';
}

a {
    color: var(--dark-red);
    text-decoration: none;
}

img#group-photo {
    width: 40%;
}

section.major {
    margin-bottom: 1rem;
}

@media screen and (max-width: 480px) {
    img#group-photo {
        width: 100%;
    }
}