section#highlighted-projects section.highlighted-project {
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    font-size: 1.1em;
    font-weight: 600;
}

section#highlighted-projects #highlighted-projects-container {
    display: grid;
    grid-template-columns: repeat(5, 15rem);
    margin: 4rem;
}

section#highlighted-projects img.highlighted-project-image {
    height: 150px;
    width: 150px;
}

section#highlighted-projects img.highlighted-project-title {
    margin: auto;
}