section#highlighted-projects section.highlighted-project {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    font-size: 0.8em;
    font-weight: 600;
    width: 150px;
    height: 150px;
    margin: 1.5rem;
}

section#highlighted-projects #highlighted-projects-container {
    display: flex;
    flex-flow: row wrap;
    margin: 2rem;
    justify-content: center; /* Horizontally center items within the cell */
}

section#highlighted-projects img.highlighted-project-image {
    height: 150px;
    width: 150px;
    margin: auto;
}

section#highlighted-projects img.highlighted-project-title {
    margin: auto;
}

section#highlighted-projects img.highlighted-project-image.programmatic-title {
    height: 110px;
}