section#highlighted-projects section.highlighted-project {
    display: flex;
    flex-flow: column wrap;
}

section#highlighted-projects {
    display: flex;
    flex-flow: row wrap;
}

img#highlighted-project-image {
    width: 150px;
    height: 150px;
}