body {
    color: #4A4A4A !important;
    font-family: 'Work Sans', serif;
}

div.people-category-list {
    display: grid;
    grid-template-columns: repeat(3, 25rem);
    margin: 1em;
    align-items: center;
}

.person-container {
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    justify-items: left;
}

img.person-photo {
    margin-right: 1em;
    width: 100%;
    padding: 0.2rem;
}

div.person-photo-container {
    width: 150px;
    height: 150px;
    margin-right: 2%;
    margin-bottom: 2%;
}

.person-information {
    text-align: left;  
    text-decoration: none;
}

p.person-name {
    color: #252525 !important;
    font-family: 'Montserrat';
    width: 100%;
}

p.person-email {
    color: #363636;
    text-decoration: none;
    width: 100%;
}

pre.person-first-position-after-graduating {
    white-space: pre-wrap;
}

@media screen and (max-width: 480px) {
    div.people-category-list {
        grid-template-columns: repeat(3, 25rem);
        align-items: center;
    }

    section#people img.person-photo {
        width: 100%;
    }

    section#people div.person-photo-container {
        width: 8rem;
    }

    section#people div.person-information {
        text-overflow: wrap;
    }

    section#people p {
        max-width: 12rem;
    }

    section#people-categories div.person-container {
        margin: unset;
    }
}