p.person-name {
    text-align: center;
}

section.people ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

section.people > ul {
    flex-flow: column;
    padding: 0;
    margin: 0;
}

section.people-section > ul {
    flex-flow: row;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    text-align: center;
}

.person-photo-container {
    margin: 1em;
    padding: 0;
}

img.person-photo {
    max-width: 250px;
    height: 250px;
    border-radius: 50%;
}
