body {
    color: #4A4A4A !important;
    font-family: 'Work Sans', serif;
}

div.columns::after {
    content: " ";
    width: 500px;
}

section#people > div.columns {
    display: flex;
    flex-flow: column;
}

section.people-section > div {
    display: grid;
    grid-template-columns: repeat(3, 25rem);
    margin: 1em;
}

.person-photo-container {
    padding: 0.5rem;
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
}

img.person-photo {
    max-width: 100px;
    height: 100px;
    margin-right: 1em;
}

.person-information {
    text-align: left;  
    text-decoration: none;
}

p.person-name {
    color: #252525 !important;
    font-family: 'Montserrat';
    text-transform: uppercase;
    width: 100%;
}

p.person-email {
    color: #363636;
    text-decoration: none;
    width: 100%;
}

@media screen and (max-width: 769px) {
    section#people section.people-section > div {
        grid-template-columns: 1fr;
    }

    section#people img.person-photo {
        max-width: 20vw;
        height: 20vw;
    }

    section#people div.person-photo-container {
        padding-left: 0;
        padding-right: 0;

        margin-left: 0;
        margin-right: 0;
        max-width: 85vw;
    }
}