img#gallery {
    height: 25rem;
    text-align: center;
    padding: 1rem;
}

#server-section-images {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 769px) {
    img#gallery {
        height: 100%;
    }
    section#server-section-images {
        flex-flow: column;
        justify-content: center;
    }
}